.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  &.withValue {
    .input {
      color: $color-black;
    }

    .icon svg path {
      fill: $color-black;
    }
  }

  &.withIcon .input {
    padding-left: 52px;
  }
}

.input {
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid $color-gray-background;
  border-radius: 8px;
  font-size: 16px;
  color: $color-gray;
  background-color: $color-gray-background;
  resize: none;

  &:focus {
    outline: none;
  }
}

.dateInputWrapper {
  cursor: pointer;
  
  .input {
    pointer-events: none;
  }
}

textarea.input {
  min-height: 118px;
}

.icon {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: $color-gray;
  font-size: 18px;
}

.invalid {
  .input {
    border-color: $color-red;
  }
}
