$color-black: #101828;
$color-gray-dark: #475467;
$color-gray: #6C717B;
$color-red: #E44848;
$color-red-dark: #D84343;
$color-yellow: #FFC531;
$color-gray-light: #DADDE1;
$color-gray-lighter: #F2F4F7;
$color-gray-background: #F7F7F7;
$color-white: #FFFFFF;