.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.left {
  width: 360px;
  height: 100%;
  position: sticky;
  top: 120px;
  left: 0;
}

.right {
  width: calc(100% - 424px);
  height: 100%;
}