.card {
  display: flex;
  border: 1px solid $color-gray-light;
  border-radius: 24px;
  overflow: hidden;
  background-color: $color-white;
  gap: 24px;
  padding: 24px;
}

.image {
  position: relative;
  width: 292px;
  min-height: 100%;
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  width: calc(100% - 316px);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;

  .favorite {
    cursor: pointer;
    line-height: 0;

    &.active {
      svg path {
        fill: $color-red;
      }
    }
  }
}

.meta {
  display: flex;
  gap: 16px;
  color: $color-black;
  font-size: 16px;
  margin-top: 8px;

  svg {
    margin-right: 4px;
  }

  .rating,
  .location {
    line-height: 1;
    display: flex;
    align-items: center;
  }

  .rating span {
    text-decoration: underline;
  }

  .rating svg path {
    fill: $color-yellow;
  }

  .location svg path {
    fill: $color-black;
  }
}

.description {
  span {
    font-size: 16px;
    color: $color-gray-dark;
    margin: 24px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
  }
}

.button {
  background-color: #e03f3f;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    background-color: #c53232;
  }
}